.container{
	background-color:#BBDAD0;
	color:#000000;
	background-color:#8F9DA9;
}
h1
{
	text-align:center;
}
.container-one{
	display:flex;
	flex-direction:row;
	background-color:#8F9DA9;
	color:#000000;
	text-align:center;
	
}
.container-two{
	display:flex;
	flex-direction:row;
	 flex-direction: row-reverse;
	 background-color:#8F9DA9;
	 text-align:center;
}
.container-three{
	display:flex;
	flex-direction:row;
	 flex-direction:column-reverse;	
	  background-color:#8F9DA9;
	  text-align:center;
}
.container-four
{
	 display: flex;
  flex-wrap: wrap;
   background-color:#ed346f;
   text-align:center;
	
}
.row1{
	width:200px;
	background-color:#f1f5da;
	margin:20px;
}
.container-five
{
	 display: flex;
  flex-wrap: wrap-reverse;
   background-color:#ed346f;
   text-align:center;
	
}
.row2{
	width:200px;
	background-color:#f1f5da;
	margin:20px;
}
.container-six
{
	 display: flex;
  flex-flow:row wrap-reverse;
   background-color:#d93da7;
   text-align:center;
	
}
.container-eight
{
	 display: flex;
justify-content:end;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-seven
{
	 display: flex;
justify-content:center;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-nine
{
	 display: flex;
justify-content:start;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-ten
{
	 display: flex;
justify-content:space-around;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-11
{
	 display: flex;
justify-content:space-between;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-12
{
	 display: flex;
justify-content:space-between;
 background-color:#59bfcf;
 text-align:center;
	
}
.container-13
{
	 display: flex;
align-items:center;
height:500px;
background-color:#9ee6bd;
text-align:center;
	
}
.container-14
{
	 display: flex;
align-items:start;
height:500px;
background-color:#9ee6bd;
text-align:center;
	
}
.container-23
{
	 display: flex;
align-items:baseline;
height:500px;
background-color:#9ee6bd;
text-align:center;
	
}
.container-15
{
	 display: flex;
align-items:end;
height:500px;
background-color:#9ee6bd;
text-align:center;
	
}
.container-16
{
	 display: flex;
align-items:stretch;
height:500px;
background-color:#9ee6bd;
text-align:center;
}
.container-17
{
	 display: flex;
	 flex-wrap:wrap;
align-content:flex-start;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
.container-18
{
	 display: flex;
	  flex-wrap:wrap;
align-content:flex-end;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
.container-19
{
	 display: flex;
	  flex-wrap:wrap;
align-content:space-between;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
.container-20
{
	 display: flex;
	  flex-wrap:wrap;
align-content:space-evenly;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
.container-21
{
	 display: flex;
	  flex-wrap:wrap;
align-content:space-around;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
.container-22
{
	 display: flex;
	  flex-wrap:wrap;
align-content:center;
height:700px;
background-color:#b3b5b4;
text-align:center;
}
h2
{
	background-color:#BBDAD0;
	color:#000000;
}